*{
    box-sizing: border-box;
}

#about-me-page {
    display: block;
}

body {
    background: black;
}
#logo {
    width: 85px;
    height: 85px;
}

/* Navbar */

.topnav {
    overflow: hidden;
    background-color: black;
    position: relative;
  }
  
  #myLinks {
    display: inline-block;
  }

  #show-me {
    color: rgb(218, 113, 87);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
  }

  #show-mywork {
    color: rgb(66, 207, 125);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
  }

  #show-contact {
    color: rgb(79, 150, 216);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
  }
  
  .topnav p:hover {
    background-color: rgb(29, 28, 28);
    color: black;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .content1 {
      font-weight: 400;
      font-style: normal;
      color: azure;
      padding: 5%;
      margin-top: 20px;
      
  }
  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.2992;
    font-size: calc((2.8 - 1) * 1.2vh + 1rem);
}
.sqsrte-large {
    font-size: calc((1.5 - 1) * 1.2vh + 1rem);
    color: #fff;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.sqsrte-large, p, .sqsrte-small {
    margin: 1rem 0;
}

.content2 {
    margin-top: 240px;
    display: block;
}
.content2 > p {
    padding: 5%;
}

#desk {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 50px
}

#grad_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 50px
}

.content3 {
    margin-top: 240px;
    display: block;
    margin-bottom: 200px;
}
.content3 > p {
    padding: 5%;
}

h3 {
    font-weight: 400;
    font-style: normal;
    color: azure;
    padding: 5%;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: calc((1.5 - 1) * 1.2vh + 1rem);
    color: #fff;
    margin-bottom: 80px;
}

h3 > a {
    color: grey;
}

#projects-page {
    display: none;
}

label {
    color: white;
}
/* Contact page elements */

#contact-page {
    position: relative;
}

.contact{
    display: inline-block;
}

.contact-icon {
  width: 10%;
  height: 10%;
/*   display: inline-block; */
}

.contact_p {
  color: white;
  text-decoration: none;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  /* input[type=submit]:hover {
    background-color: #45a049;
  }
   */
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #h2-contact {
      font-size: 20px;
      color: white;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
