*{
    box-sizing: border-box;
}

body {
    font-family: "roboto", sans-serif;
    margin: 25px;
    padding: 0;
    background-color: silver;
  }

  @media  screen and (max-width: 400px){
    header{
        background: black;
        color: silver;
        border: 3px solid black;
        max-height: 127px;
        margin-top: 0;

    }
    #nav {
        overflow: hidden;
        background-color: #333;
        position: relative;
      }

    #nav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    /* #nav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    } */
    #nav a:hover {
        background-color: #ddd;
        color: black;
    }
    .active {
        background-color: black;
        color: white;
      }

    #full-name{
        text-align: center;
        font-family: serif;
        font-size: 36px;
    }

    #myLinks{
        list-style: none;
        text-align: center;
        padding-left: 0;
        display: none;
    }

    #myLinks a{
        display: inline-flex;
    }
    
    #about-nav{
        color: #ccddff;
        text-decoration: none;
    }
    #projects-nav{
        text-decoration: none;
        color: #99bbff;
    }
    #contact-link{
        color: #0055ff;
        text-decoration: none;
        font-family: sans-serif;
    }

    #contact-info{
        background-color: lightgrey;
        border: solid 1px black;
    }
    #contact-info ul{
        list-style: none;
        text-align: center;
        padding-left: 0;
        list-style-type:none;

    }

    #contact-info li{
        display: inline-flex;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 18px;

    }
    #contact-h1{
        font-size: 36px;
        display:flex;
        padding-left: 30px;
        font-family: serif;
        margin-top: 40px;
    }
    #github-link {
        color:black;
        text-decoration: none;
        font-family: sans-serif;
        padding: 3px;
        border: solid 1px black;
    }
    #linked-in-link{
        color: black;
        text-decoration: none;
        font-family: sans-serif;
        padding: 3px;
        border: solid 1px black;
    }
    #mailto-link{
        color: black;
        text-decoration: none;
        font-family: sans-serif;
        padding: 3px;
        font-size:16px;
    }



    .about{
        text-align: center;
        background: lightgrey;
        border: 1px solid black;
        margin-bottom: 25px;

    }
    #city{
        /* display: block; */
        justify-content: center;
        max-width: 200px;
        /* float: right; */
        margin-top: 40px;
        padding: 8px;

    }
    #about-h1{
        font-size: 36px;
        display:flex;
        padding-left: 30px;
        font-family: serif;
        margin-top: 40px;
        
    }

    #about-h3{
        font-size: 16px;
        font-family: sans-serif;
        padding: 8px;
        text-align: left;
    }

    .about h4{
        font-size: 16px;
        text-align: left;
        padding: 8px;
        font-family: sans-serif;

    }

    .about h2{
        font-family: serif;
        font-size: 24px;
        display: flex;
        flex-flow: row;
        padding-left: 30px;
    }
    .hidden{
        display:none;
    }

    .about h2:hover{
        text-decoration: underline;
        cursor: pointer;
    }

    .projects{
        background: lightgrey;
        text-align: center;
        border: 1px solid black;
        margin-bottom: 25px;
    }

    .screenshot{
        max-width: 200px;
        padding: 8px;
    }

    #projects-h1{
        font-family: serif;
        font-size: 36px;
        display: flex;
        flex-flow: row;
        padding-left: 30px;
        font-weight:bold;
    }
    .projects h2{
        font-family: sans-serif;
        font-size: 24px;

    }
    .technologies-used{
        display: flex;
        flex-direction: row;
    }
    .hammy{
        max-width: 30px;
        max-height: 30px;
        margin-left: 10px;
        color: lightgrey;
    }
    .icon{
        max-width: 30px;
        max-height: 30px;
        margin-left: 10px;
    }
    #project-h3{
        font-size: 16px;
        text-align: left;
        padding: 8px;
        font-family: sans-serif;
    }
    #project-footer{
        margin-bottom: 20px;
    }
    .see-code{
        background-color: rgb(5, 172, 5);
        width: 100px;
        font-size: 16px;
        font-family: sans-serif;
        text-decoration: none;
        color: black;
        margin-right:2px;
        padding: 2px;
    }
    .use-demo{
        background-color: rgb(42, 170, 212);
        width: 100px;
        font-size: 16px;
        font-family: sans-serif;
        text-decoration: none;
        color: black;
        margin-right:2px;
        padding: 2px;
    }
    button:hover{
        cursor: pointer;
    }
}

@media  screen and (min-width: 400px) and (max-width: 634px){
    header{
        background: black;
        color: silver;
        border: 3px solid black;
        max-height: 127px;
        margin-top: 0;

    }

    #full-name{
        text-align: center;
        font-family: serif;
        font-size: 36px;
    }

    #myLinks{
        list-style: none;
        text-align: center;
        padding-left: 0;
        display: none;
    }

    #myLinks a{
        display: inline-flex;

    }
    
    #about-nav{
        color: #ccddff;
        text-decoration: none;
    }
    #projects-nav{
        text-decoration: none;
        color: #99bbff;
    }
    #contact-link{
        color: #0055ff;
        text-decoration: none;
        font-family: sans-serif;
    }

    #contact-info{
        background-color: lightgrey;
        border: solid 1px black;
    }
    #contact-info ul{
        list-style: none;
        text-align: center;
        padding-left: 0;
        list-style-type:none;

    }

    #contact-info li{
        display: inline-flex;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 18px;

    }
    #contact-h1{
        font-size: 36px;
        display:flex;
        padding-left: 30px;
        font-family: serif;
        margin-top: 40px;
        font-weight:bold;
    }
    #github-link {
        color:black;
        text-decoration: none;
        font-family: sans-serif;
        padding: 3px;
        border: solid 1px black;
    }
    #linked-in-link{
        color: black;
        text-decoration: none;
        font-family: sans-serif;
        padding: 3px;
        border: solid 1px black;
    }
    #mailto-link{
        color: black;
        text-decoration: none;
        font-family: sans-serif;
        padding: 3px;
    }



    .about{
        text-align: center;
        background: lightgrey;
        border: 1px solid black;
        margin-bottom: 25px;

    }
    #city{
        /* display: block; */
        justify-content: center;
        max-width: 200px;
        /* float: right; */
        margin-top: 40px;
        padding: 8px;

    }
    #about-h1{
        font-size: 36px;
        display:flex;
        padding-left: 30px;
        font-family: serif;
        margin-top: 40px;
        font-weight:bold;
    }

    #about-h3{
        font-size: 16px;
        font-family: sans-serif;
        padding: 8px;
        text-align: left;
    }

    .about h4{
        font-size: 16px;
        text-align: left;
        padding: 8px;
        font-family: sans-serif;

    }

    .about h2{
        font-family: serif;
        font-size: 24px;
        display: flex;
        flex-flow: row;
        padding-left: 30px;
    }
    .hidden{
        display:none;
    }

    .about h2:hover{
        text-decoration: underline;
        cursor: pointer;
    }

    .projects{
        background: lightgrey;
        text-align: center;
        border: 1px solid black;
        margin-bottom: 25px;
    }

    .screenshot{
        max-width: 250px;
    }

    #projects-h1{
        font-family: serif;
        font-size: 36px;
        display: flex;
        flex-flow: row;
        padding-left: 30px;
        font-weight:bold;
    }
    .projects h2{
        font-family: sans-serif;
        font-size: 24px;

    }
    .technologies-used{
        display: flex;
        flex-direction: row;
    }
    .hammy{
        max-width: 30px;
        max-height: 30px;
        margin-left: 10px;
        color: lightgrey;
    }
    .icon{
        max-width: 30px;
        max-height: 30px;
        margin-left: 10px;
    }
    
    #project-h3{
        font-size: 16px;
        text-align: left;
        padding: 8px;
        font-family: sans-serif;
    }
    #project-footer{
        margin-bottom: 20px;
    }
    .see-code{
        background-color: rgb(5, 172, 5);
        width: 100px;
        font-size: 16px;
        font-family: sans-serif;
        text-decoration: none;
        color: black;
        margin-right:2px;
        padding: 2px;
    }
    .use-demo{
        background-color: rgb(42, 170, 212);
        width: 100px;
        font-size: 16px;
        font-family: sans-serif;
        text-decoration: none;
        color: black;
        margin-right:2px;
        padding: 2px;
    }
    button:hover{
        cursor: pointer;
    }
}





@media  screen and (min-width:634px) and (max-width: 900px){
    header{
        background: black;
        color: silver;
        border: 3px solid black;
        max-height: 127px;
        margin-top: 0;

    }

    #full-name{
        text-align: center;
        font-family: serif;
        font-size: 36px;
    }

    #myLinks{
        list-style: none;
        text-align: center;
        padding-left: 0;
        
    }

    #myLinks a{
        display: inline-flex;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
    }
    
    #about-nav{
        color: #ccddff;
        text-decoration: none;
    }
    #projects-nav{
        color: #99bbff;
        text-decoration: none;
        
    }
    #contact-link{
        color: #0055ff;
        text-decoration: none;
        font-family: sans-serif;
    }

    #contact-info{
        background-color: lightgrey;
        border: solid 1px black;
    }
    #contact-info ul{
        list-style: none;
        text-align: center;
        padding-left: 0;
        list-style-type:none;

    }

    #contact-info li{
        display: inline-flex;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 22px;

    }
    #contact-h1{
        font-size: 36px;
        display:flex;
        padding-left: 30px;
        font-family: serif;
        margin-top: 40px;
        font-weight:bold;
    }
    #github-link {
        color:black;
        text-decoration: none;
        font-family: sans-serif;
        padding: 3px;
        border: solid 1px black;
    }
    #linked-in-link{
        color: black;
        text-decoration: none;
        font-family: sans-serif;
        padding: 3px;
        border: solid 1px black;
    }
    #mailto-link{
        color: black;
        text-decoration: none;
        font-family: sans-serif;
        padding: 3px;
        border: solid 1px black;
    }


    .about{
        text-align: center;
        background: lightgrey;
        border: 1px solid black;
        margin-bottom: 25px;

    }
    #city{
        /* display: block; */
        justify-content: center;
        max-width: 350px;
        /* float: right; */
        margin-top: 40px;
        padding: 8px;

    }
    #about-h1{
        font-size: 36px;
        display:flex;
        padding-left: 30px;
        font-family: serif;
        margin-top: 40px;
        font-weight:bold;
    }

    #about-h3{
        font-size: 16px;
        font-family: sans-serif;
        padding: 8px;
        text-align: left;
    }

    .about h4{
        font-size: 16px;
        text-align: left;
        padding: 8px;
        font-family: sans-serif;

    }

    .about h2{
        font-family: serif;
        font-size: 24px;
        display: flex;
        flex-flow: row;
        padding-left: 30px;
    }
    .hidden{
        display:none;
    }

    .about h2:hover{
        text-decoration: underline;
        cursor: pointer;
    }

    .projects{
        background: lightgrey;
        text-align: center;
        border: 1px solid black;
        margin-bottom: 25px;
    }

    .screenshot{
        max-width: 400px;
    }

    #projects-h1{
        font-family: serif;
        font-size: 36px;
        display: flex;
        flex-flow: row;
        padding-left: 30px;
        font-weight:bold;
    }
    .projects h2{
        font-family: sans-serif;
        font-size: 24px;

    }
    .technologies-used{
        display: flex;
        flex-direction: row;
    }
    .icon{
        max-width: 30px;
        max-height: 30px;
        margin-left: 10px;
    }

    #hamburger{
        display:none;
    }
    #project-h3{
        font-size: 16px;
        text-align: left;
        padding: 8px;
        font-family: sans-serif;
    }
    #project-footer{
        margin-bottom: 20px;
    }
    .see-code{
        background-color: rgb(5, 172, 5);
        width: 100px;
        font-size: 16px;
        font-family: sans-serif;
        padding: 5px;
        text-decoration: none;
        color: black;
        margin-right:2px;
        
    }
    .use-demo{
        background-color: rgb(42, 170, 212);
        width: 100px;
        font-size: 16px;
        font-family: sans-serif;
        padding: 5px;
        text-decoration: none;
        color: black;
        margin-right:2px;
    }
    button:hover{
        cursor: pointer;
    }
}




@media  screen and (min-width:901px){
    header{
        background: black;
        color: silver;
        border: 3px solid black;
        max-height: 127px;
        margin-top: 0;

    }

    #full-name{
        text-align: center;
        font-family: serif;
        font-size: 36px;
    }

    #myLinks{
        list-style: none;
        text-align: center;
        padding-left: 0;
    }

    #myLinks a{
        display: inline-flex;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 24px;
    }
    
    #about-nav{
        color: #ccddff;
        text-decoration: none;
    }
    #projects-nav{
        color: #99bbff;
        text-decoration: none;
    }

    #contact-link{
        color: #0055ff;
        text-decoration: none;
        font-family: sans-serif;
    }



    #contact-info{
        background-color: lightgrey;
        border: solid 1px black;
    }
    #contact-info ul{
        list-style: none;
        text-align: center;
        padding-left: 0;
        list-style-type:none;

    }

    #contact-info li{
        display: inline-flex;
        padding-left: 60px;
        padding-right: 60px;
        font-size: 18px;

    }
    #contact-h1{
        font-size: 36px;
        display:flex;
        padding-left: 30px;
        font-family: serif;
        margin-top: 40px;
        font-weight:bold;
    }
    #github-link {
        color:black;
        text-decoration: none;
        font-family: sans-serif;
        padding: 3px;
        border: solid 1px black;
    }
    #linked-in-link{
        color: black;
        text-decoration: none;
        font-family: sans-serif;
        padding: 3px;
        border: solid 1px black;
    }
    #mailto-link{
        color: black;
        text-decoration: none;
        font-family: sans-serif;
        padding: 3px;
        border: solid 1px black;
    }
    
    .about{
        text-align: center;
        background: lightgrey;
        border: 1px solid black;
        margin-bottom: 25px;
    }
    #city{
        
        max-width: 550px;
        justify-content: center;
        margin-top: 40px;
        padding: 8px;

    }
    #about-h1{
        font-size: 36px;
        display:flex;
        padding-left: 30px;
        font-family: serif;
        margin-top: 40px;
        font-weight:bold;
    }

    #about-h3{
        font-size: 16px;
        font-family: sans-serif;
        padding: 18px;
        text-align: left;
    }

    .about h4{
        font-size: 16px;
        text-align: left;
        padding: 8px;
        font-family: sans-serif;

    }

    .about h2{
        font-family: serif;
        font-size: 24px;
        display: flex;
        flex-flow: row;
        padding-left: 30px;
    }
    .hidden{
        display:none;
    }

    .about h2:hover{
        text-decoration: underline;
        cursor: pointer;
    }

    .projects{
        background: lightgrey;
        text-align: center;
        border: 1px solid black;
        margin-bottom:25px;
    }


    

    .screenshot{
        max-width: 550px;
    }

    #projects-h1{
        font-family: serif;
        font-size: 36px;
        display: flex;
        flex-flow: row;
        padding-left: 30px;
        font-weight:bold;
    }
    .projects h2{
        font-family: sans-serif;
        font-size: 24px;

    }
    .technologies-used{
        justify-content: center;
    }
    .icon{
        max-width: 30px;
        max-height: 30px;
        margin-left: 10px;
    }
    #hamburger{
        display:none;
    }
    #project-h3{
        font-size: 16px;
        text-align: center;
        padding: 8px;
        font-family: sans-serif;
    }
    #project-footer{
        margin-bottom: 20px;
    }
    .see-code{
        background-color: rgb(5, 172, 5);
        width: 100px;
        font-size: 16px;
        font-family: sans-serif;
        padding: 5px;
        text-decoration: none;
        color: black;
        margin-right:2px;
        
    }
    .use-demo{
        background-color: rgb(42, 170, 212);
        width: 100px;
        font-size: 16px;
        font-family: sans-serif;
        padding: 5px;
        text-decoration: none;
        color: black;
        margin-left:2px;

    }

    button:hover{
        cursor: pointer;
    }

}
